<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.thymeleaf.org/thymeleaf-extras-shiro">

	<head>
		<meta charset="UTF-8">
		<title>nav</title>
		<div th:fragment="bootstrap">
			<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
			<link rel="stylesheet" th:href="@{/js/bootstrap.js}">
		</div>
		
	</head>
	<body>
		<div th:fragment="nav" align="center" >
			<div shiro:hasPermission="user:add">
				<a th:href="@{/add/6/pph/pphPsw}">add</a>
			</div>
			
			<a th:href="@{/insert}">insert</a>
			<a th:href="@{/select}">select</a>
			<a th:href="@{/update/xx/6}">update</a>
			<a th:href="@{/delete/6}">delete</a>
		</div>
		<br><br><br>
		
	</body>
</html>